<div class="header">
    <img class="avaya-brand" src="../../assets/Avaya White Logo 600x300.jpg" alt="Avaya White Logo">
    <h4 class="brand-name">AMSP</h4>
    <img class="brand-logo" src="../../assets/Bosch-Logo-2002-2018.png" alt="Bosch-Logo">
</div>
<ul class="main-menu nav nav-tabs">
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle order-dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Order <span class="glyphicon glyphicon-chevron-down dropdown-arrow"></span>
      </a>
      <ul class="dropdown-menu">
        <li (click)="goToAddPage()">Add</li>
        <li (click)="goToChangePage()">Change</li>
      </ul>
    </li>
    <li>Reporting</li>
    <li>Pool Asset Control</li>
    <li>List View</li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle order-dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Data <span class="glyphicon glyphicon-chevron-down dropdown-arrow"></span>
        </a>
        <ul class="dropdown-menu">
            <li>First Option</li>
            <li>Second Option</li>
            <li>Third Option</li>
        </ul>
      </li>
  </ul>


